body{
    margin-top: 60px;
}
.bgTitulo{
    background-color: #c7d9ca;
}

.centralizarTexto{
    text-align: center;
}

.tiraPadding{
    padding: 0;
    margin: 0;
}

.centroTela{
    margin: 0 auto;
    background-color: blue;

}

div.container > div.panel.panel-default{
    margin-bottom: 30px;
}

div.container  div.panel-body > div.centralizarTexto > span {
    font-weight: bold;
    color: black;
}

