body{
    margin-top: 60px;

}
.bgBtnLilas{
    background-color: #9d8bbc;
}
.bgVerdeClaro{
    background-color: #c7d9ca;  
}
.bgTitulo{
    background-color: #c7d9ca;
}
.textoBranco{
    color: white;   
}
.centralizarTexto{
    text-align: center;
}

.bgFooter{
    background-color: #724073;
}
.tiraPadding{
    padding: 0;
    margin: 0;
}

.centroTela{
    margin: 0 auto;
    background-color: blue;

}

div.container > div.panel.panel-default{
    margin-bottom: 30px;
}

div.container  div.panel-body > div.centralizarTexto > span {
    font-weight: bold;
    color: black;
}

div.container div#opcoesTabela {
    box-shadow: none;
    border-bottom: 2px solid #724073;
    padding-bottom: 10px
}

form.form-horizontal > div#buscarFuncionario div.well {
    border: none;
}

div#containerPrincipal {
margin-bottom: 35px;    
    
}


