body{
    background-color: #ccccff;
    padding: 0;
    margin: 0;
}
.limparFloat{
    clear: both;
}
.invertDegrade{
    -moz-transform: scale(1,-1);
    transform: scale(1,-1);
}
.gradienteRoxo-Lilas{
    background: #6666ff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTk5ZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #6666ff 0%, #9999fb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6666ff), color-stop(100%,#9999fb));
    background: -webkit-linear-gradient(top,  #6666ff 0%,#9999fb 100%);
    background: -o-linear-gradient(top,  #6666ff 0%,#9999fb 100%);
    background: -ms-linear-gradient(top,  #6666ff 0%,#9999fb 100%);
    background: linear-gradient(to bottom,  #6666ff 0%,#9999fb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6666ff', endColorstr='#9999fb',GradientType=0 );

}
.centralizar{   
    margin: 0 auto;
    width: 960px;
}
#bemVindo{
    color: #ccffcc;
    float: right;
    line-height: 60px;
    font-size: 14pt;
    font-family: sans-serif;

}
.logoTituloConteudo{
    padding: 0;
    float: left;
    width: 64px;
    height: 64px;
    margin-top:-30px;
    margin-left: 40px;
}
.menu{

    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    display: inline-block;
    line-height: 40px;
    margin-right: 65px;
}
.menu > li.ultimo{
    margin-right: 0px;
}
.menu > li > a{
    color: white;
    text-decoration: none; 
    font-family: sans-serif;
    font-size: 12pt;
}
.formularios{
    
    float: left;
    width: 750px;
    margin-left: 10px;
    padding-top: 10px;
}

header.Cabecalho{
    text-align: center;
    min-width: 960px;
    height: 100px;
}

div.centralizar  div.bgTituloConteudo{
    background-color: #9999ff;
    margin: 10px auto 30px auto;
    width: 100%;
    height: 50px;
    border-radius: 15px; 
}
div.centralizar div > h3.tituloConteudo{
    color: white;
    margin: 0;
    padding-top: 12px;
    text-align: center;
    font-family: sans-serif ;
}
div.centralizar > section.conteudo{
  
    float:left;
    width: 100%;
    height: auto;
}

div.centralizar > section.conteudo > aside.barraEsquerda{
    float:left;
    background-color: #9999ff;
    width: 180px;
    height: 200px;
    margin: 10px;
}

/*Formatação dos Inputs e label do formulario*/
.labelCampo{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #00458b;
}
.campoValores{
    height: 37px;
    margin-bottom: 30px;
    padding-left: 5px;
    width: 180px;
    border-radius: 10px;
    border: 2px solid #9999ff;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}
input.inCodEmpresa{
    margin-left: 60px;
}
input.inCodCargo{
    margin-left: 83px;
}
input.inNomeFunc{
    margin-left: 80px;
    width: 550px;
}
input.inTelCel{
    margin-left: 83px;
    margin-right: 10px;
}
input.inTelRes{
    margin-left: 35px;
}
input.inCpf{
    margin-left: 134px;
    margin-right: 10px;
}
input.inRg{
    margin-left: 130px;
}
input.inNascimento{
    margin-left: 32px;
}
input.inLogradouro{
    margin-left: 77px;
    margin-right: 10px;
    width: 445px;
}
input.inNumCasa{
    margin-left: 5px;
    width: 50px;
}
input.inComplemento{
    margin-left: 58px;
    width: 445px;
}
input.inBairro{
    margin-left: 120px;
    margin-right: 10px;
    width: 335px;
}
input.inCep{
    width: 150px;
}
input.inCidade{
    margin-left: 110px;
    margin-right: 10px;
    width: 335px;
}
select.inUf{
    margin-left: 15px;
    width: 80px;
}
input.inSalario{
    margin-left: 114px;
    
}


/*FIM FORMATAÇÃO DOS INPUTS E LABELS DO FORMULARIO*/

section.conteudo > form > span.textoRadios{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #00458b;
    margin-left: 115px;
    
}
section.conteudo > form > span.radioInativo{
    margin-left: 175px;
}

section.conteudo > form > label > img#iconBuscarNome{
    margin: 0;
    padding: 0;
}
fieldset.quadroLoginFunc{
    float:right;
    margin: -112px 10px 10px 0;
       
}




footer{
    margin: 0;
    min-width: 960px;
    height: 50px;
    text-align: center;
}
footer > p{
    padding-top: 18px;
    color: white;
    font-size: 10pt;
    font-weight: 600;
    font-family: sans-serif;
}
